@import url('https://fonts.googleapis.com/css?family=Roboto');

.app-container {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.app-content {
  padding: 20px;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
